body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#homepagesec{
    margin-top: -16px;
    background-image: url(image/kalibg.jpg);
    box-shadow: inset 1000px 1000px 10px rgba(7, 66, 122, 0.705);
    background-color: black;
    height: 610px;
    width: 100%;
    background-size: cover;
}
#navlist{
  display: flex;
  justify-content: center;
  gap: 280px;
  padding-top: 15px;
  list-style-type: none;
  align-items: center;
}
#navlistitem1{
  display: inline-block;
}
#navlistitem2{
  display: flex;
}
#navlistitem2 a{
  text-decoration: none;
  
}
#navlistbutton{
  padding: 15px;
  background: none;
  border-radius: 10px 10px 0 0;
  border: none;
  color: white;
  font-size: 15px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 550;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
#navlistbuttonx{
  padding: 15px;
  background: none;
  border: none;
  text-decoration: none;
  color: white;
  font-size: 15px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 550;
}  
#navlistbuttonx:hover{
  cursor: pointer;
  color: #2777FF;
  transition: all 0.3s ease 0s;
}
#dropdown{
  text-decoration: none;
  display: inline-block;
}
#content{
  display: none;
  background-color: white;
  border-radius: 0 10px 10px 10px;
  border-top: 1px solid rgb(104, 109, 133);
  padding: 50px 50px 0px 10px;
  position: absolute;
  transition: all 0.3s ease 0s;
}
#contentabout{
  display: none;
  background-color: white;
  border-radius: 10px 0 10px 10px;
  min-width: 150px;
  border-top: 1px solid rgb(104, 109, 133);
  padding: 50px 10px 0px 40px;
  position: absolute;
  text-align: right;
  right: 33px;
  transition: all 0.3s ease 0s;
}
#contentabout a{
  margin-right: 10px;
}
#content a{
  margin-left: 6px;
}
#dropdown:hover #contentabout{
  display: block;
}
#dropdown:hover #content{
  display: block;
}
#dropdown #link{
  height: 50px;
  margin-top: -30px; 
  text-decoration: none;
  color: black;
  display: block;
}
#dropdown #link:hover{
  cursor: pointer;
  color: #2777FF;
  transition: all 0.3s ease 0s;
}
#dropdown:hover #navlistbutton{
  padding: 15px;
  background: white;
  border: none;
  border-radius: 10px 10px 0 0;
  color: rgb(17, 166, 235);
  font-size: 15px;
  text-align: center;
  font-weight: 550;
}
#homepop{
  display: flex;
  gap: 20px;
  height: 380px;
  width: 980px;
  margin-top: 100PX;
  margin-left: auto;
  margin-right: auto;
}
#homepop-text h1{
    font-size: 30px;
    margin-bottom: 0px;
    color: white;
}
#homepop-text p{
  color: white;
  font-size: 17.4px;
}
#download-button{
  font-size: 16px;
  background: none;
  border: 2px solid rgba(255, 166, 0, 0.87);
  box-shadow: 0 0 10px rgba(255, 166, 0, 0.575);
  font-weight: 700;
  color: orange;
  margin-top: 10px;
  border-radius: 5px;
  height: 60px;
  width: 180px;
  transition: all 0.3s ease 0s;
}
#download-button:hover{
  font-size: 16px;
  background: rgba(255, 166, 0, 0.87);
  border: 2px solid rgba(255, 166, 0, 0.87);
  box-shadow: 0 0 20px rgba(255, 166, 0, 0.575);
  font-weight: 700;
  color: rgb(255, 255, 255);
  margin-top: 10px;
  border-radius: 5px;
  height: 60px;
  width: 180px;
}
#documentation-button{
  font-weight: 700;
  background-color: #2777FF;
  box-shadow: 0 8px 0px #2266dd;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  margin-left: 20px;
  padding-top: 8px;
  height: 52px;
  width: 180px;
  color: white;
  transition: all 0.3s ease 0s;
}
#documentation-button:hover{
  font-weight: 700;
  background-color: #2777FF;
  box-shadow: 0 4px 0px #2266dd;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  margin-left: 20px;
  padding-top: 0px;
  height: 52px;
  width: 180px;
  color: white;
}
#movingarrow{
  margin-left: auto;
  margin-right: auto;
  width: 24px;
  height: 24px;
  animation-name: bounce;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes bounce{
  50%{transform: translateY(15px);}
}